<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>sq</string>
		<key>name</key>
		<string>Albanian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127462</integer>
			<integer>127473</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>am</string>
		<key>name</key>
		<string>Amharic</string>
		<key>flagHexValues</key>
		<array>
			<integer>127466</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ar</string>
		<key>name</key>
		<string>Arabic</string>
		<key>flagHexValues</key>
		<array>
			<integer>127466</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>hy</string>
		<key>name</key>
		<string>Armenian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127462</integer>
			<integer>127474</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>az</string>
		<key>name</key>
		<string>Azerbaijani</string>
		<key>flagHexValues</key>
		<array>
			<integer>127462</integer>
			<integer>127487</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>eu</string>
		<key>name</key>
		<string>Basque</string>
		<key>flagHexValues</key>
		<array>
			<integer>127988</integer>
			<integer>917605</integer>
			<integer>917619</integer>
			<integer>917616</integer>
			<integer>917622</integer>
			<integer>917631</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>be</string>
		<key>name</key>
		<string>Belarusian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127463</integer>
			<integer>127486</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>bn</string>
		<key>name</key>
		<string>Bengali</string>
		<key>flag</key>
		<string>0x1F1E7 0x1F1E9 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127463</integer>
			<integer>127465</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>bs</string>
		<key>name</key>
		<string>Bosnian</string>
		<key>flag</key>
		<string>0x1F1E7 0x1F1E6 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127463</integer>
			<integer>127462</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>bg</string>
		<key>name</key>
		<string>Bulgarian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127463</integer>
			<integer>127468</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ceb</string>
		<key>name</key>
		<string>Cebuano</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127469</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ny</string>
		<key>name</key>
		<string>Chichewa</string>
		<key>flagHexValues</key>
		<array>
			<integer>127487</integer>
			<integer>127484</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>zh-cn</string>
		<key>name</key>
		<string>Chinese Simplified</string>
		<key>flagHexValues</key>
		<array>
			<integer>127464</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>zh-tw</string>
		<key>name</key>
		<string>Chinese Traditional</string>
		<key>flagHexValues</key>
		<array>
			<integer>127464</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>co</string>
		<key>name</key>
		<string>Corsican</string>
		<key>flagHexValues</key>
		<array>
			<integer>127467</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>hr</string>
		<key>name</key>
		<string>Croatian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127469</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>cs</string>
		<key>name</key>
		<string>Czech</string>
		<key>flagHexValues</key>
		<array>
			<integer>127464</integer>
			<integer>127487</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>da</string>
		<key>name</key>
		<string>Danish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127465</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>nl</string>
		<key>name</key>
		<string>Dutch</string>
		<key>flag</key>
		<string>0x1F1F3 0x1F1F1 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127475</integer>
			<integer>127473</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>en</string>
		<key>name</key>
		<string>English</string>
		<key>flag</key>
		<string>0x1F1EC 0x1F1E7 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127468</integer>
			<integer>127463</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>et</string>
		<key>name</key>
		<string>Estonian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127466</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>tl</string>
		<key>name</key>
		<string>Filipino</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127469</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>fi</string>
		<key>name</key>
		<string>Finnish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127467</integer>
			<integer>127470</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>fr</string>
		<key>name</key>
		<string>French</string>
		<key>flagHexValues</key>
		<array>
			<integer>127467</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ka</string>
		<key>name</key>
		<string>Georgian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127468</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>de</string>
		<key>name</key>
		<string>German</string>
		<key>flagHexValues</key>
		<array>
			<integer>127465</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>el</string>
		<key>name</key>
		<string>Greek</string>
		<key>flagHexValues</key>
		<array>
			<integer>127468</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ht</string>
		<key>name</key>
		<string>Haitian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127469</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>haw</string>
		<key>name</key>
		<string>Hawaiian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127796</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>hu</string>
		<key>name</key>
		<string>Hungarian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127469</integer>
			<integer>127482</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>is</string>
		<key>name</key>
		<string>Icelandic</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127480</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>id</string>
		<key>name</key>
		<string>Indonesian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127465</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ga</string>
		<key>name</key>
		<string>Irish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>it</string>
		<key>name</key>
		<string>Italian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ja</string>
		<key>name</key>
		<string>Japanese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127471</integer>
			<integer>127477</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>jw</string>
		<key>name</key>
		<string>Javanese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127465</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>kk</string>
		<key>name</key>
		<string>Kazakh</string>
		<key>flagHexValues</key>
		<array>
			<integer>127472</integer>
			<integer>127487</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>km</string>
		<key>name</key>
		<string>Khmer</string>
		<key>flag</key>
		<string>0x1F1FB 0x1F1F3 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127483</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ko</string>
		<key>name</key>
		<string>Korean</string>
		<key>flagHexValues</key>
		<array>
			<integer>127472</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ky</string>
		<key>name</key>
		<string>Kyrgyz</string>
		<key>flagHexValues</key>
		<array>
			<integer>127472</integer>
			<integer>127468</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lo</string>
		<key>name</key>
		<string>Lao</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127462</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>la</string>
		<key>name</key>
		<string>Latin</string>
		<key>flag</key>
		<string>0x1F520 </string>
		<key>flagHexValues</key>
		<array>
			<integer>128288</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lv</string>
		<key>name</key>
		<string>Latvian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127483</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lt</string>
		<key>name</key>
		<string>Lithuanian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lb</string>
		<key>name</key>
		<string>Luxembourgish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127482</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>mk</string>
		<key>name</key>
		<string>Macedonian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127474</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ms</string>
		<key>name</key>
		<string>Malay</string>
		<key>flagHexValues</key>
		<array>
			<integer>127474</integer>
			<integer>127486</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ml</string>
		<key>name</key>
		<string>Malayalam</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>mt</string>
		<key>name</key>
		<string>Maltese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127474</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>lb</string>
		<key>name</key>
		<string>Luxembourgish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127482</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>mn</string>
		<key>name</key>
		<string>Mongolian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127474</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>my</string>
		<key>name</key>
		<string>Myanmar</string>
		<key>flagHexValues</key>
		<array>
			<integer>127474</integer>
			<integer>127474</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ne</string>
		<key>name</key>
		<string>Nepali</string>
		<key>flagHexValues</key>
		<array>
			<integer>127475</integer>
			<integer>127477</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>no</string>
		<key>name</key>
		<string>Norwegian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127475</integer>
			<integer>127476</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>pl</string>
		<key>name</key>
		<string>Polish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127473</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>pt</string>
		<key>name</key>
		<string>Portuguese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127481</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ma</string>
		<key>name</key>
		<string>Punjabi</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ro</string>
		<key>name</key>
		<string>Romanian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127479</integer>
			<integer>127476</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ru</string>
		<key>name</key>
		<string>Russian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127479</integer>
			<integer>127482</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sm</string>
		<key>name</key>
		<string>Samoan</string>
		<key>flagHexValues</key>
		<array>
			<integer>127462</integer>
			<integer>127480</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sr</string>
		<key>name</key>
		<string>Serbian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127479</integer>
			<integer>127480</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>st</string>
		<key>name</key>
		<string>sesotho</string>
		<key>flagHexValues</key>
		<array>
			<integer>127487</integer>
			<integer>127462</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sn</string>
		<key>name</key>
		<string>Shona</string>
		<key>flagHexValues</key>
		<array>
			<integer>127487</integer>
			<integer>127484</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sd</string>
		<key>name</key>
		<string>Sindhi</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>si</string>
		<key>name</key>
		<string>Sinhala</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sk</string>
		<key>name</key>
		<string>Slovak</string>
		<key>flagHexValues</key>
		<array>
			<integer>127480</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sl</string>
		<key>name</key>
		<string>slovenian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127480</integer>
			<integer>127470</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>so</string>
		<key>name</key>
		<string>Somali</string>
		<key>flagHexValues</key>
		<array>
			<integer>127480</integer>
			<integer>127476</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>es</string>
		<key>name</key>
		<string>Spanish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127466</integer>
			<integer>127480</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>su</string>
		<key>name</key>
		<string>Sundanese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127465</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sw</string>
		<key>name</key>
		<string>Swahili</string>
		<key>flagHexValues</key>
		<array>
			<integer>127472</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>sv</string>
		<key>name</key>
		<string>Swedish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127480</integer>
			<integer>127466</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>tg</string>
		<key>name</key>
		<string>Tajik</string>
		<key>flagHexValues</key>
		<array>
			<integer>127481</integer>
			<integer>127471</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ta</string>
		<key>name</key>
		<string>Tamil</string>
		<key>flagHexValues</key>
		<array>
			<integer>127473</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>th</string>
		<key>name</key>
		<string>Thai</string>
		<key>flagHexValues</key>
		<array>
			<integer>127481</integer>
			<integer>127469</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>tr</string>
		<key>name</key>
		<string>Turkish</string>
		<key>flagHexValues</key>
		<array>
			<integer>127481</integer>
			<integer>127479</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>uk</string>
		<key>name</key>
		<string>Ukrainian</string>
		<key>flagHexValues</key>
		<array>
			<integer>127482</integer>
			<integer>127462</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>ur</string>
		<key>name</key>
		<string>Urdu</string>
		<key>flagHexValues</key>
		<array>
			<integer>127477</integer>
			<integer>127472</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>uz</string>
		<key>name</key>
		<string>Uzbek</string>
		<key>flagHexValues</key>
		<array>
			<integer>127482</integer>
			<integer>127487</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>vi</string>
		<key>name</key>
		<string>Vietnamese</string>
		<key>flagHexValues</key>
		<array>
			<integer>127483</integer>
			<integer>127475</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>xh</string>
		<key>name</key>
		<string>Xhosa</string>
		<key>flagHexValues</key>
		<array>
			<integer>127487</integer>
			<integer>127462</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>yi</string>
		<key>name</key>
		<string>Yiddish</string>
		<key>flag</key>
		<string>0x1F1EE 0x1F1F1 </string>
		<key>flagHexValues</key>
		<array>
			<integer>127470</integer>
			<integer>127473</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>yo</string>
		<key>name</key>
		<string>Yoruba</string>
		<key>flagHexValues</key>
		<array>
			<integer>127475</integer>
			<integer>127468</integer>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>zu</string>
		<key>name</key>
		<string>Zulu</string>
		<key>flagHexValues</key>
		<array>
			<integer>127487</integer>
			<integer>127462</integer>
		</array>
	</dict>
</array>
</plist>
